*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline:none}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}

html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust:100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-style: inherit;font-weight: 400;}

.header {
    justify-content: center;
    align-items: center;
    flex: auto;
    max-height: 80px;
    background: black;
}

.nav__menu, .nav__menu a {
    min-height: 80px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    background: black;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.nav__menu__item1 {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1530px;
    padding: 0 15px;
    margin:0 auto ;
}

.content {
    flex: 1 1 auto;
}

.background {
    background:url("../../img/background.jpg");
    max-width: 1920px;
    min-height: 1080px;
}

.profile {
    display: flex;
    padding-top: 80px;
    justify-content: space-between;
}

.profile__about {
    border: 3px solid white;
    max-width: 500px;
    color: white;
    display: flex;
    background: #000;
    height: 800px;
    flex-direction: column;
}

.profile__about__title {
    margin: 0 auto;
    align-items: center;
    max-width: 480px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
}

.profile__logout {
    margin: 0 auto;
    display: flex;
    max-width: 480px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 90px;
    margin-top: 60px;
}

.profile__logout input {
    width: 100px;
    height: 40px;
    background-color:black;
    color: white;
    border: 1px solid white;
    font-size: 18px;
}

.profile__menu {
    border: 1px solid white;
    border-bottom: none;
    margin: 0 auto;
    max-width: 496px;
    display: flex;
    flex-direction: column;
}

.profile__menu__item1 {
    border-bottom: 1px solid white;
    margin: 0 auto;
    max-width: 496px;
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.profile__menu__item1 a {
    color: white;
    padding: 40px 200px;
}

.profile_entries {
    border: 3px solid white;
    max-width: 900px;
    color: white;
    display: flex;
    background-color: black;
    flex-direction: column;
}

.profile__menu__entries{
    background-color: #000;
    width: 98% !important;
    margin: 1em 0 1em 0 !important;
    position: relative !important;
    overflow: auto !important;
    font-size: 1em !important;
    max-height: 700px !important;
}

.about__entries {
    margin: 0 auto;
    width: 880px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
}

/*.profile__menu__entries {
  max-width: 800px;
  margin: 0 auto;
  height: 740px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}*/

.profile__menu__entries__item1 {
    max-width: 800px;
    margin: 0 auto;
    background-color:rgb(0, 0, 0);
    color: black;
    border: 1px solid white;
    border-radius: 5px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.pr__title {
    color: white;
    max-width: 790px;
    margin:0 auto;
    font-size: 20px;
    text-align: center;
    height: 25px;
}

.pr__block {
    display: flex;
}

.pr__input {
    height: 170px;
    width: 790px;
    margin:0 auto;
    padding-left: 5px;
    display: flex;
}

.pr__input  textarea {
    color: white;
    padding: 5px;
    width: 700px;
    height: 165px;
    background-color: black;
    resize: none;
    border: 0.5px solid white;
    border-radius: 5px;
    display: flex;
}

.pr__buttons {
    padding-right: 10px;
    margin:0 auto;
    width: 90px;
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pr__button1 {
    border: 1px solid white;
    border-radius: 5px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.pr__button1 a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.footer {
    background: #000;
}

.footer__row {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}

.footer__text, .footer__text a {
    text-decoration: none;
    color: white;
    letter-spacing:0.3px;
}

@media (max-width:1530px) {
    .profile {
        width: 1500px;
        justify-content: space-between;
    }
    .profile__about {
        width: 410px;
        margin-right: 0px;
    }
    .profile__about__title {
        width: 80px;
    }
    .profile__menu{
        width: 400px;
    }
    .profile__menu__item1 {
        width: 400px;
    }
    .profile__entries {
        width: 1000px;
        margin-left: 30px;
    }
    .about__entries {
        width: 900px;
    }
    .profile__menu__entries {
        width: 1000px;
    }
    .profile__menu__entries__item1 {
        width: 1000px;
    }
    .pr__block {
        width: 785px;
    }
    .pr__input {
        width: 1000px;
    }
    .pr__buttons {
        padding:0;
        margin: 0;
    }
}

@media (max-width:1410px) {
    .profile {
        width: 1380px;
        justify-content: space-between;
    }
    .profile__about {
        width: 500px;
    }
    .profile__about__title {
        width: 480px;
    }
    .profile__menu{
        width: 500px;
    }
    .profile__menu__item1 {
        width: 500px;
    }
    .profile__entries {
        width: 800px;
    }
    .about__entries {
        width: 700px;
    }
    .profile__menu__entries {
        width: 800px;
    }
    .profile__menu__entries__item1 {
        width: 800px;
    }
    .pr__block {
        width: 790px;
    }
    .pr__input {
        width: 800px;
    }
    .pr__buttons {
        padding:0;
        margin: 0;
    }
}

@media (max-width:1024px) {
    .profile {
        width: 1000px;
    }
    .profile__about {
        width: 350px;
    }
    .profile__about__title {
        width: 100px;
    }
    .profile__menu{
        width: 346px;
    }
    .profile__menu__item1 {
        width: 346px;
    }
    .profile__entries {
        width: 600px;
    }
    .about__entries {
        width: 500px;
    }
    .profile__menu__entries {
        width: 600px;
    }
    .profile__menu__entries__item1 {
        width: 600px;
    }
    .pr__block {
        width: 590px;
    }
    .pr__input {
        width: 500px;
        margin:0;
    }
    .pr__buttons {
        padding:0;
        margin: 0;
    }
}

@media (max-width:414px) {
    .container {
        width: 555px;
    }
    .profile {
        width: 490px;
        flex-direction: column;
        display: flex;
    }
    .profile__about {
        width: 500px;
        margin:0px;
        height: 350px;
    }
    .profile__about__title {
        width: 100px;
    }
    .profile__logout {
        margin: 5px 97px 5px 97px;
    }
    .profile__menu{
        width: 500px;
    }
    .profile__menu__item1 {
        width: 500px;
    }
    .profile__entries {
        width: 600px;
    }
    .about__entries {
        width: 500px;
        margin: 0;
    }
    .profile__menu__entries {
        width: 480px;
        margin: 0;
    }
    .profile__menu__entries__item1 {
        width: 460px;
    }
    .pr__block {
        width: 500px;
    }
    .pr__input {
        width: 360px;
        margin:0;
    }
    .pr__buttons {
        padding:0;
        margin: 0;
    }
    .footer {
        width: 540px;
    }
    .background {
        width: 540px;
    }
}