@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email</title>
    <link rel="stylesheet" href="~/css/EmailCSS/style.css">
</head>
<body>
<div class="container">
    <div class="content">
        <div class="wrapper">
            <div class="logo">
                Life Balance
            </div>
            <div class="main">
                <div class="header">
                    Hello, USERNAME , please confirm your account
                </div>
                <div class="text">
                    Thank you for creating your Life-Balance Account
                </div>
                <div class="button">
                    <a href="#" target="_blank" class="link">Confirm!</a>
                </div>
                <hr class="separator" />
                <div class="mistake">
                    This message (including all attachments) is confidential and intended only for the addressee. If you received it by mistake, please contact us immediately and then remove it.
                </div>
            </div>
        </div>
        <div class="copyright">
            Life Balance © 2020
        </div>
    </div>
</div>
</body>
</html>