@model DiaryEntryViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post" asp-controller="Diary" asp-action="DiaryEntry">
            <div>
                <input asp-for="Title" type="text" placeholder="Email">
                <span asp-validation-for="Title"></span>
            </div>
    
            <div>
                <input asp-for="Entry" type="password" placeholder="Password">
                <span asp-validation-for="Entry"></span>
            </div>
    
            <div>
                <button type="submit">New event</button>
            </div>
        </form>
</div>
</body>
</html>