@model DiaryEntryViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>New entry</title>
  <link rel="stylesheet" href="~/css/Diary/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>

<body>
<div class="header">
  <div class="container">
    <div class="nav__menu">
      <div class="nav__menu__item1">
        <a asp-controller="Home" asp-action="Index">LIFE BALANCE</a>
      </div>
      <div class="nav__menu__item2">
        <a asp-controller="Diary" asp-action="Create">DIARY</a>
      </div>
      <div class="nav__menu__item3">
        <a asp-controller="Profile" asp-action="Index">PROFILE</a>
      </div>
    </div>
  </div>
</div>
<form method="post" asp-controller="Diary" asp-action="Create">
  <div class="content">
    <div class="background">
      <div class="container">
        <div class="diary__block">
          <div class="diary__field1">
            <div class="title1">
              <p>TITLE</p>
            </div>
            <div class="textarea1">
              <textarea asp-for="Title" class="title" readonly></textarea>
            </div>
          </div>
          <div class="diary__field2">
            <div class="title2">
              <p>ENTRIES</p>
            </div>
            <div class="textarea2">
              <textarea asp-for="Entry" class="notes" readonly></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>

  <div class="footer">
    <div class="footer__row">
      <div class="footer__text">
        <p>Backend: <a href="https://www.linkedin.com/in/egor-kliutsuk/" target="_blank">Egor Kliutsuk</a></p>
        <p>Front-end: <a href="https://github.com/YanSurma" target="_blank">Yan Surma</a></p>
      </div>
    </div>
  </div>
</body>

</html>