.header {
    justify-content: center;
    align-items: center;
    flex: auto;
    max-height: 80px;
    background: black;
}

.nav__menu, .nav__menu a {
    min-height: 80px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    background: black;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.nav__menu__item1 {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1530px;
    padding: 0 15px;
    margin:0 auto ;
}

.content {
    flex: 1 1 auto;
}

.background {
    background: url("../../assets/img/background.jpg");
    max-width: 1920px;
    min-height: 1080px;
}

.about__block {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: 100px;
    padding-top: 250px;
    padding-left: 150px;
}

.about__block__diary {
    padding: 10px;
    border: 2px solid #fff;
    font-size: 25px;
    color: white;
    letter-spacing: 0.3px;
}

.getstart {
    padding-top: 470px;
    padding-left: 442px;
}

.button a {
    font-size: 26px;
    text-decoration: none;
    color: white;
    border: 3px solid white;
    padding: 5px;
}

.footer {
    background: #000;
}

.footer__row {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}

.footer__text, .footer__text a {
    text-decoration: none;
    color: white;
    letter-spacing:0.3px;
}