*{
  padding: 0;
  margin: 0;
  border: 0;
}
/* обратились ко всем тегам на странице и обнулили все отступы и границы */

*,*:before,*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Поменяли подсчет ширины блока так,чтобы было удобнее верстать */

:focus,:active{outline:none}
a:focus,a:active{outline: none;}
/* Убираем линии обводки у некоторых браузеров */

nav,footer,header,aside{display: block;}
/* Сделали html5 теги блочными */

html,body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust:100%;
  -webkit-text-size-adjust: 100%;
}
/* Параметры уравнивают поведение шрифтов и элдементов для разных браузеров,в том числе запрещают самомовольное увеличение шрифтов на айфонее например. */

input,button,textarea{font-family:inherit;}

/* Наследование семейства шрифта */

input::-ms-clear{display: none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6 {font-style: inherit;font-weight: 400;}

.header {
  justify-content: center;
  align-items: center;
  flex: auto;
  max-height: 80px;
  background: black;
}

.nav__menu, .nav__menu a {
  min-height: 80px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  background: black;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.nav__menu__item1 {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1530px;
  padding: 0 15px;
  margin:0 auto ;
}

.content {
  flex: 1 1 auto;
}

.background {
  background: url("../img/background.jpg");
  max-width: 1920px;
  min-height: 1080px;
}

.about__block {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  height: 100px;
  padding-top: 250px;
  padding-left: 150px;
}

.about__block__diary {
  padding: 10px;
  border: 2px solid #fff;
  font-size: 25px;
  color: white;
  letter-spacing: 0.3px;
}

.getstart {
  padding-top: 470px;
  padding-left: 442px;
}

.button a {
  font-size: 26px;
  text-decoration: none;
  color: white;
  border: 3px solid white;
  padding: 5px;
}

.footer {
  background: #000;
}

.footer__row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.footer__text, .footer__text a {
  text-decoration: none;
  color: white;
  letter-spacing:0.3px;
}

@media (max-width:1530px) {
  .container {
    max-width: 970px;
  }
  .background {
    min-height: 930px;
  }
}

@media (max-width:992px) {
  .container {
    max-width: 750px;
  }
  .content {
    min-height: 550px;
  }
  .background {
    max-height: 550px;
  }
}

@media (max-width:767px) {
  .container{
    max-width: none;
  }
  .about__block {
    padding-top: 10px;
    padding-left: 10px;
  }
  .background {
    min-height: 930px;
  }
  .getstart {
    padding-top: 250px;
    padding-left: 290px ;
  }
}

@media (max-width:767px) {
  .about__block {
    padding: 40px 5px 40px 5px;
    margin: 0;
  }
  .background {
    min-height: 930px;
  }
  .getstart {
    padding-top: 150px;
    padding-left: 100px ;
  }
}

@media (max-width:414px) {
  .about__block {
    padding: 20px 5px 20px 5px;
    margin: 0;
  }
  .background {
    min-height: 655px;
  }
  .getstart {
    padding-top: 150px;
    padding-left: 110px ;
  }
}