body { 
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  grid-template-rows: 60px 1fr 60px;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

a{
  color: #ffffff;
  text-decoration: none;
  font-size: 26px;
}

header, footer{
  background: #000000;
}

main{
  background-color: #ffffff;
}

.pageHeader {
  grid-area: header;
}

.pageFooter {
  grid-area: footer;
  text-align: center;
}

.pageMain { 
  grid-area: main;      
}

.navigation{
  text-align: center;
  margin-top: 0.8rem;
}

.navigation a{
  margin-right: 40px;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.navigation a:hover{
  background-size: 100% 1px;
}

.pageFooter a{
  font-size: 16px;
}

.wrap {
  position: relative;
  text-align: -webkit-center;
}

.wrap img {
  width: 100%;
}

.bc{
  opacity: 0.2;
 background: black;
}

.txt{
  font-family: 'Do Hyeon', sans-serif;
  color: black;
  font-size: 24px;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 300px;
}