@model LoginViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="~/css/AccountCSS/style.css">
</head>
<body>
    <form method="post" asp-controller="Account" asp-action="Login" class="form">
        <h1 class="form__title">Sign In</h1>
        <div class="form__group">
            <input asp-for="UserName" class="form__input" placeholder=" ">
            <label class="form__label">Username</label>
        </div>
        <div class="form__group">
            <input asp-for="Password" type="password" class="form__input" placeholder=" ">
            <label class="form__label">Password</label>
        </div>
        <div>
            <input asp-for="RememberMe" class="form__check" type="checkbox">
            <label class="form__check">Remember me?</label>
        </div>
        <button class="form__button">Sign In</button>
    </form>
</body>
</html>